
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    color:white;
}
::-webkit-scrollbar {
    display: none;
}
.bg-light{
    background-color: rgba(0, 0, 0, 0) ;
    color: black;;
}
nav{
    height:12vh;
    width:100%;
    display: flex;
    position: fixed;
    top:0;
    z-index: 1000;
    align-items: center;
    background-color: rgba(0, 0, 0,0.01);
    gap:50px;
    border: white 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.logo img{
    height:100%;
    width:150%;
}
.details{
    font-size: 28px;
    color: inherit;
    width: 70vw;
    display: flex;
    padding: 5px;
    height:40px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    height: 80%;
}
.details .srch {
    display: flex;
    gap: 5px;
    /* background-color: aqua; */
    width: 25%;
}
::placeholder{
    color:red;
    font-weight: 500;
    font-size:15px; 
}
.details .srch img{
    height: 4vh;
    width: 6vh;
    cursor: pointer;
}
.details .nav-btn button{
    color: red;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 50%;
    border-radius:5px;
    padding: 0px;
    margin: 0px;
    /* height: 36px; */
    font-size: 20px;
    cursor: pointer;
}
.details .nav-btn button:hover{
    transform: scale(1.1);
}
.details button{
    color: white;
    border-radius: 50%;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 36px;
    font-size: 20px;
    cursor: pointer;
}
#drk-btn{
    height:40px;
    background-color: gray;
    border-radius: 50%;
}
.btn{
    width:8vw;
    height: 6vh;
    border-radius: 20px;
    border:2px solid rgba(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    color:red;
    transform: scale(1.1);
}
.log-btn{
    color:inherit;
    background-color: inherit;
}
.reg-btn{
    color:white;
    background-color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: inherit;
}
aside{
    width: 18.5vw;
    height: 73vh;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    float: left;
    position: fixed;
    left:0;
    align-items: center;
    justify-content: center;
    top: 12.5vh;
    font-size: 28px;
    overflow-y: auto;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}
ul li img{
    height:5vh;
}
.nav-links a{
    transition: all 0.5s ease-in-out;
}
.nav-links a:hover{
    color: red;
    opacity: 1;
}
.invert{
    filter: invert(1);
}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
    width:15vw;
    gap:15px;
}
footer{
    height: 12.8vh;
    width:100%;
    background-color: rgba(0, 0, 0,0.01);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border:1px solid white;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 2;
}
footer .btns{
    display: flex;
    gap: 20px;
    /* margin-left: 20px; */
}
footer .btns button{
    width: 7vw;
    height: 6vh;
    border-radius: 20px;
    /* font-weight: bolder; */
    border:2px solid rgba(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.01);
}
.main{
    float: right;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.01);
    margin-top: 12.5vh; /* Same as navbar height + some space */
    /* margin-left: 300px; */
    margin-bottom: 60px; /* Same as footer height + some space */
    padding: 20px;
    overflow: auto;
    height: 68vh;
    width:78.9vw;
}
.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    height: 45vh;
    margin:15px;
    width:15vw;
    border: 2px solid red;
    border-radius: 20px;
    /* background-color: red; */
    padding:5px;
    /* z-index: -1; */
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.card img{
    height: 30vh;
    width:13vw;
    border-radius: 20px;
}
.play-btn {
    height: 5.5vh;
    text-align: right;
    /* background-color: rgb(25,25, 255); */
    opacity: 0;
    width: 94%;
    text-align: right;
    z-index: 999;
    overflow: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: -14vh;
}
.play-btn button{
    border-radius: 50%;
    height:5vh;
    width:5vh;
    cursor: pointer;
    
}
.play-btn:hover{
    opacity: 1;

}
.play-btn img{
    height: 5vh;
    width:5vh;
    object-fit: cover;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.info p{
    font-size: 24px;
}
.info span{
    font-size: 18px;
    margin-top: 10px;
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}